name: Lint
on:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'npm'

            - name: Install dependencies
              run: npm install

            - name: Run eslint
              run: npx eslint

            # Prettier will check JavaScript and Java files.
            - name: Run prettier check
              run: npx prettier . --check
